body {
  margin: 0;

  #app {
    font-family: sans-serif;
    box-sizing: border-box;

    a {
      text-decoration: none;
    }

    .container {
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
    }
  }
}